@use '@/styles' as *;

.banner {
  @include flex-column;
  background-color: $primary-bg-light;
  border-radius: $border-radius-card;
  align-items: center;
  min-height: 376px;
  margin-bottom: $spacing-xl;
  padding-block: 54px;

  @include mobile {
    min-height: fit-content;
    margin-inline: -$spacing-md;
    border-radius: 0;
    padding: $spacing-md;
    margin-bottom: $spacing-md;
  }
}

.content {
  @include flex-column;
  align-items: center;
  text-align: center;
  gap: $spacing-md;
  max-width: 480px;

  @include mobile {
    max-width: 100%;
    padding-inline: $spacing-md;
    gap: $spacing-sm;
  }
}

.title {
  font-family: $fixel-display;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: $text-primary;

  @include mobile {
    font-size: $font-size-xl;
    line-height: $spacing-xxl;
  }
}

.text {
  color: $text-secondary;
  font-size: $font-size-lg;

  @include mobile {
    font-size: $font-size-md;
  }
}

.btn {
  @include flex-center;
  gap: 16px;
  font-size: $font-size-lg;
  padding: 16px 28px;
  font-weight: 600;
  line-height: 28px;

  @include mobile {
    font-size: $font-size-md;
    padding: 12px 20px;
    gap: 12px;
  }
}

.icon {
  width: 20px;

  @include mobile {
    width: 16px;
  }
}

.progressWrapper {
  margin-top: $spacing-xl;

  @include mobile {
    margin-top: $spacing-md;
  }
}

.progress {
  width: 192px;

  @include mobile {
    width: 150px;
  }
}

.progressDescription {
  color: $text-secondary;
  font-size: $font-size-lg;
  font-weight: 400;
  line-height: 28px;
  margin-top: 8px;
  text-align: center;

  @include mobile {
    font-size: $font-size-sm;
  }
}
