@use '@/styles' as *;

.main {
  background-color: $background-color;
  max-width: $max-width;
  min-height: calc(100vh - $header-height);
  margin: 0 auto;
  padding: $spacing-md;

  @include mobile {
    min-height: calc(100vh - $header-height-mobile);
    padding-inline: $spacing-md;
  }
}
