@use 'sass:color';
@use './variables.scss' as *;
@use './mixins.scss' as *;

// Global styles

* {
  box-sizing: border-box;
}

body {
  font-family: $fixel-text;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-duration $transition-timing;

  &:hover {
    color: $primary-dark;
  }
}

input,
textarea,
select {
  @include input-base;
}

label {
  @include form-label;
}
