// Цветовая палитра
// Основные цвета
$primary-color: #2e7d32;
$primary-light: #4caf50;
$primary-dark: #1b5e20;
$primary-darker: #087443; // Цвет кнопки из дизайна
$primary-bg-light: #edfcf2; // Светлый фон для блоков

// Текстовые цвета
$text-color: #344054;
$text-primary: #101828; // Основной текст из дизайна
$text-secondary: #667085; // Вторичный текст из дизайна
$text-tertiary: #475467; // Третичный текст из дизайна
$text-light: #ededed;

// Фоновые цвета
$background-color: #ffffff;
$background-secondary: #f5f5f5;
$background-tertiary: #f2f4f7; // Третичный фон из дизайна
$background-card: #ffffff;

$error-color: #f04438;

// Границы и формы
$border-color: #e0e0e0;
$border-light: #d0d5dd; // Светлая граница из дизайна
$border-divider: #eaecf0; // Цвет разделителя из дизайна
$border-radius: 6px;
$border-radius-card: 12px;

// Размеры
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

//Шрифты
$fixel-display: var(--font-fixel-display);
$fixel-text: var(--font-fixel-text);

// Типографика
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

// Тени
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.15);

// Анимации
$transition-duration: 0.3s;
$transition-timing: ease-in-out;

//#101828

//background: #101828;
//opacity: 0.24;

//#475467
//#667085
//#F2F4F7

$gray-500: #475467;
$gray-400: #667085;
$gray-100: #f2f4f7;
