@use '@/styles' as *;

.header {
  @include flex-between;
  background-color: $background-color;
  max-width: 1120px;
  margin-inline: auto;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-xl;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoText {
  font-size: $font-size-xl;
  font-weight: 700;
  color: $primary-color;
}

.progressWrapper {
  display: flex;
  align-items: center;
  gap: $spacing-lg;
  justify-content: flex-end;
  width: 100%;
}

.homeLink {
  @include flex-center;

  color: $text-secondary;
  transition: color border $transition-duration $transition-timing;
  border-radius: $border-radius;
  border: 1px solid $border-light;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  padding: 10px;
  width: 40px;
  height: 40px;

  &:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}
