@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;
@use 'sass:color';

.button {
  @include button-base;

  &-primary {
    background-color: $primary-color;
    color: $text-light;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

    &:hover {
      background-color: $primary-dark;
      color: $text-light;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      background-color: color.scale($primary-color, $lightness: 20%);
      cursor: not-allowed;
    }
  }

  &-secondary {
    background-color: transparent;
    color: $text-color;
    border: 1px solid $border-color;

    &:hover {
      background-color: $background-secondary;
      color: $text-color;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      color: $text-secondary;
      cursor: not-allowed;
    }
  }

  &-clear {
    background-color: transparent;
    color: $text-tertiary;
    padding: 0;
    border: none;

    &:hover {
      color: $text-secondary;
      background-color: transparent;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      color: $gray-400;
      cursor: not-allowed;
    }
  }

  &-danger {
    background-color: $error-color;
    color: $text-light;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

    &:hover {
      background-color: color.scale($error-color, $lightness: -10%);
      color: $text-light;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      background-color: color.scale($error-color, $lightness: 20%);
      cursor: not-allowed;
    }
  }
}
