@use 'sass:color';
@use '@/styles' as *;

.progressBarWrapper {
  @include flex-center;
  color: $text-secondary;
  gap: $spacing-md;
  font-size: $font-size-lg;
  line-height: 28px;

  @include mobile {
    font-size: $font-size-md;
    gap: $spacing-sm;
  }
}

.success {
  @include flex-center;
  border-radius: 50%;
  background-color: $primary-bg-light;
  color: $primary-light;
  width: 28px;
  height: 28px;
}

.text {
  @include mobile {
    display: none;
  }
}
