@use '@/styles' as *;

.container {
  padding-bottom: $spacing-xl;
  gap: $spacing-xl;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: 100%;
  width: 100%;

  @include mobile {
    @include flex-column;
    min-height: calc(100vh - $header-height-mobile);
    padding-bottom: $spacing-md;
  }
}

.formColumn {
  flex: 1;
  min-width: 45%;
  max-width: 600px;
  height: 100%;

  @include mobile {
    min-width: 100%;
    height: max-content;
    flex: 0;
  }
}

.previewColumn {
  @include flex-column;
  flex: 1;
  min-width: 45%;
  min-height: 100%;

  @include mobile {
    margin-inline: -$spacing-md;
    min-width: 100%;
  }
}

.title {
  font-family: $fixel-display;
  color: $text-secondary;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-bottom: $spacing-md;
  transition: color 0.3s ease;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-divider;

  @include mobile {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: $spacing-sm;
  }
}

.titleFilled {
  color: $text-primary;
}

.bannerWrapper {
  width: 100%;
  margin-top: $spacing-xl;
}
