@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.progressContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.progressItems {
  display: flex;
  gap: $spacing-xs;
}

.progressItem {
  height: 8px;
  flex: 1;
  background-color: lighten($primary-color, 35%);
  border-radius: 4px;
  transition: background-color $transition-duration $transition-timing;

  &.active {
    background-color: $primary-color;
  }
}

.progressText {
  font-size: $font-size-sm;
  color: $text-secondary;
  font-weight: 500;
}
